html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0px;
}

#presentation-container {
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(/workingCSS/workingCSS/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#presentation{
    width: 37.5vw;
    position:relative;
    top: calc(50% - 9rem);
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0px;
}

h2{
    font-size: 3rem;
    font-weight: 800;
    margin: 0px;
}

button{
    background-color: #F84646;
    color: white;
    font-weight: 500;
    font-size: 1.5rem   ;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.container{
    padding: 10rem 7.5rem;
    text-align: center;
}

.contact-title{
    margin-top: .5rem;
}
.container > p {
    margin-top: 1.5rem;
}

.container > button{
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
}

.container > button:hover{
    opacity: 0.8;
    transform:scale(1.1)
    }

.background-gradient{
    background: linear-gradient(190deg, #fff,#d9d9d9);
}